{% extends 'base.html.twig' %}

{% block title %}LISTAS TODO{% endblock %}

{% block body %}
    
    
    
    <div class="header">
    
    <!-- IR A PORTADA PRINCIPAL -->    
    <a href="{{url('todo_index')}}">PORTADA PRINCIPAL</a>    
        
    <h2>VISUALIZAR LISTADO COMPLETO</h2>    
        <ul>
            {% for elementolista in listatodo %}
                {% if elementolista.estado == 'realizada' %}
                    <li class="verde">
                {% else %}        
                    <li>
                {% endif %}        
                    <ul>
                        <li>Nombre: {{elementolista.nombre}}</li>
                        <li>Creado: {{elementolista.fechaCreacion|date('d-m-Y')}}</li>
                        <li>Fecha Tope: {{elementolista.fechaTope|date('d-m-Y')}}</li>
                        <li>Estado: {{elementolista.estado}}</li>
                        
                        {% if elementolista.estado == 'pendiente'%}
                            <a href="{{url('todo_modificar_estado',{'id':elementolista.id})}}">Marcar como realizada la tarea</a>
                        {% endif %}
                        
                    </ul>
                <li>----------------------------------------------</li>
                </li>
                
            {%endfor%}    
        </ul>
    </div>    
{% endblock %}







