{% extends 'base.html.twig' %}

{% block title %} INICIO DE SESIÓN {% endblock %}
{% block body %}
    <div class="example-wrapper">
        
            <h2>INICIA SESIÓN</h2>
            
            <!-- Compruebo si hay error de logado -->
            {% if error %}
                <div  class="errorlogin">
                    {#{{error.messagekey|trans(error.messageData,'security')}}#}
                    ¡¡EMAIL O CONTRASEÑA INCORRECTOS!!
                </div>    
            {% endif %}    
            {%for mensaje in app.session.flashbag.get('message')%}
                <p class="mensajeflash">{{mensaje}}</p>
            {% endfor %}
            {%for mensaje in app.session.flashbag.get('error')%}
                <p class="errorlogin">{{mensaje}}</p>
            {% endfor %}
            
            {# MENSAJE ERROR REGISTRO  #}
            {% for mensaje in app.session.flashbag.get('error-login') %}
                <p id="mensaje-error">{{mensaje}}</p>
            {% endfor %}
            {# MENSAJE REGISTRO CORRECTO#}
            {% for mensaje in app.session.flashbag.get('message') %}
                <p id="mensaje">{{mensaje}}</p>
            {% endfor %}
            
            <form action="{{path('login')}}" method="POST">
                <label for="username">Email: </label>
                <input type="email" id="username" name="_username" value="{{last_username}}"/>

                <label for="password"> Contraseña: </label>
                <input type="password" id="password"  name="_password"/>
                <br/>
                
                
                <input  id="boton-logar" type="submit" value="ENTRAR"/>
            </form>
                
                
            
    </div>    
    
{% endblock %}    